<div>
    <div *ngIf= "!service.result">In progress</div>
    <div *ngIf= "service.result" >
        <div class="jumbotron" *ngFor = "let result of service.result.results">
            <h1 class="header">Solution</h1>
            <hr class="my-4">
            <div class="grid-container">
                <div class="card border-primary mb-3" style="margin-right: 20px; margin-left: 20px;" *ngFor = "let event of result">
                    <div class="card-header">{{event.name}}</div>
                    <div class="card-body">
                        <div class="card-title">Location: {{event.location}}</div>
                        <div class="card-text">Start date: {{event['assignedDate'].start | date: 'M/d/yy, h:mm a'}}</div>
                        <div class="card-text">End date: {{event['assignedDate'].end | date: 'M/d/yy, h:mm a'}}</div>
                    </div>
                </div>
            </div>
            <hr class="my-4">
            <button class="btn btn-primary rightBtn" (click) = "acceptResult(result)">PIN THIS RESULT</button>
        </div>
    </div>
    <div>
        <hr class="my-4">
        <button type="button" class="btn btn-outline-primary rightBtn" (click) = "goBack()">Cancel</button>
    </div>
</div>