<div class="jumbotron" *ngIf="service.router == '/user/events/calculate'">
    <h1 class="header">Calculate</h1>
    <hr class="my-4">
    <div class="input-region">
        <div class="input-region">
            <form class="form-group" [formGroup]="algorithmForm">
                <label for="algorithmSelect" class="expected-number">Algorithm
                    <select class="form-control" (change)="changeAlgorithm($event)"
                        formControlName="algorithmFromControlName" id="algorithmSelect">
                        <option value="" disabled>Select algorithm</option>
                        <option *ngFor="let alg of algorithmSelections" [ngValue]="alg.value">{{alg.label}}</option>
                    </select>
                </label>
            </form><!-- Form ends -->

            <div class="form-group">
                <label for="inputLarge" class="expected-number">Expected Number
                    <input class="form-control" type="text" placeholder="Set expected solutions" id="inputLarge"
                        [(ngModel)]="expectedNumber">
                </label>
            </div>

            <div *ngIf="algorithmForm.value.algorithmFromControlName == 'bestfirst' || algorithmForm.value.algorithmFromControlName == 'astar'">
                <form class="form-group" [formGroup]="heuristicForm">
                    <label for="heuristicSelect" class="expected-number">Heuristic
                        <select class="form-control" (change)="changeHeuristic($event)"
                            formControlName="heuristicFromControlName" id="heuristicSelect">
                            <option value="" disabled>Select heuristic</option>
                            <option *ngFor="let heur of heuristicSelections" [ngValue]="heur.value">{{heur.label}}</option>
                        </select>
                    </label>
                </form><!-- Form ends -->
            </div>
        </div>
        <div>
            <hr class="my-4">
            <button type="button" class="btn btn-outline-primary" routerLink="targetevents" (click)="submit()"
                [disabled]="!expectedNumber || !algorithmForm.value.algorithmFromControlName">Submit</button>
            <button type="button" class="btn btn-outline-primary rightBtn" (click)="goBack()">Cancel</button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>