<!--div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary" style>
  <div class="container">
      <a href="../" class="navbar-brand">Event Scheduler</a>
  </div>
</div-->
<div class="placeholder"></div>
<router-outlet></router-outlet>