<div *ngIf="service.router == '/user/events'">
    <div class="jumbotron">
        <div>
           <h1 class="header" style="margin-left: 20px;margin-bottom: 30px;">Events</h1>
           <hr class="my-4">
        </div>
        <div *ngIf="!(service.events && service.events.length>0)">
            <h3 class="header">No data to display</h3>
        </div>
        <div class="grid-container">
            <div *ngFor="let event of service.events">
                <div class="card border-primary mb-3" style="margin-right: 20px; margin-left: 20px;">
                    <div class="card-header grid-button-container">
                        <div>{{event.name}}</div>
                        <div *ngIf="event.pinnedDetails != null">
                            <button *ngIf="event.pinnedStatus" (click)="unpin(event.eventID)" class="btn btn-outline-primary rightBtn">UNPIN</button>
                            <button *ngIf="!event.pinnedStatus" (click)="pin(event.eventID)" class="btn btn-primary rightBtn">PIN</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-title">Location: {{event.location}}</p>
                        <div *ngIf="!event.pinnedStatus" class="card-text">Start date: {{event['targetDateIntervall'].start | date: 'M/d/yy, h:mm a'}}</div>
                        <div *ngIf="event.pinnedStatus" class="card-text">*Start date: {{event['pinnedDetails'].start | date: 'M/d/yy, h:mm a'}}</div>
                        <div *ngIf="!event.pinnedStatus" class="card-text">End date: {{event['targetDateIntervall'].end | date: 'M/d/yy, h:mm a'}}</div>
                        <div *ngIf="event.pinnedStatus" class="card-text">*End date: {{event['pinnedDetails'].end | date: 'M/d/yy, h:mm a'}}</div>
                        <div *ngIf="!event.pinnedStatus" class="card-text">Duration: {{event.duration}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <hr class="my-4">
            <button type="button" class="btn btn-outline-primary" routerLink="calculate" [disabled]="!(service.events && service.events.length>0)">Calculate</button>
            <button type="button" class="btn btn-outline-primary rightBtn" (click)="goBack()">Cancel</button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>