.rightBtn{
    float:right;
}

.header{
    text-align: center;
    padding-bottom: 10px;
}

.grid-container{
    display:grid;
    grid-template-columns: auto auto auto;
    margin-right: 20px; 
    margin-left: 20px;
    max-width: 60rem;
}

.grid-button-container{
    display:grid;
    grid-template-columns: auto auto auto;
}