<div *ngIf="service.router.includes('/user') && !service.router.includes('/events') && !service.router.includes('/register') && !service.router.includes('/calculate') && !service.router.includes('/targetevents')" class="jumbotron">
    <div>
       <h1 class="header">Welcome {{service.userId}}!</h1>
       <hr class="my-4">
    </div>
    <div>
        <button type="button" class="btn btn-outline-primary" routerLink="events" (click) = "getEvents()" [disabled]="!service.userId">Get Events</button>
        <button type="button" class="btn btn-outline-primary rightBtn" routerLink="register" [disabled]="!service.userId">Add new event</button>
    </div>
</div>

<router-outlet></router-outlet>
