<div class="jumbotron">
    <div>
        <h1 class="header">Add new event</h1>
        <hr class="my-4">
    </div>
    <div class="input-region">
        <div class="form-group">
            <label for="inputLarge">Event Name</label>
            <input class="form-control" type="text" id="inputLarge" [(ngModel)] = "eventName">
        </div>

        <div id="start-date" class="form-group">
            <label for="startDate">Start date</label>
            <input [owlDateTime]="dt" [owlDateTimeTrigger]="dt" placeholder="Start Date" [(ngModel)]="startDate"
                class="form-control" id="startDate">
            <owl-date-time #dt></owl-date-time>
        </div>

        <div id="end-date" class="form-group">
            <label for="endDate">End date</label>
            <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="End Date" [(ngModel)]="endDate"
                class="form-control" id="endDate">
            <owl-date-time #dt2></owl-date-time>
        </div>

        <form class="form-group" [formGroup]="durationForm">
            <label for="duration">Duration</label>
            <select id="duration" class="form-control" (change)="changeDuration($event)" formControlName="durationFromControlName">
                <option value="" disabled>Select duration</option>
                <option *ngFor="let dur of durationSelections" [ngValue]="dur.value">{{dur.label}}</option>
            </select>
        </form><!-- Form ends -->
        
        <form class="form-group" [formGroup]="locationForm">        
                <label for="location">Location</label>
                <select id="location" class="form-control" (change)="changeLocation($event)" formControlName="locationFromControlName">
                    <option value="" disabled>Select location</option>
                    <option *ngFor="let loc of locationSelections" [ngValue]="loc">{{loc}}</option>
                </select>
        </form><!-- Form ends -->
    </div>
    <div>
        <hr class="my-4">
        <button type="button" class="btn btn-outline-primary" (click)="register()" 
        [disabled]="!startDate || !endDate || !durationForm.value.durationFromControlName || !locationForm.value.locationFromControlName">Register</button>
        <button type="button" class="btn btn-outline-primary rightBtn" (click)="goBack()">Cancel</button>
    </div>
</div>